/* 
    Document   : StickyTooltip
    Created on : Nov 1, 2012, 3:13:15 PM
    Author     : nmallow
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.author-tip{
    top:0px;
    margin-left: -5px;
    position: absolute;
    background-color: #F8F1DB;
    display: none;
    padding: 3px;
    border: 2px #f6a828 solid;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.author-tip:hover{
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}